/***************common shadow import***************/
@import url("https://www.moa-ba.com//webheads/css/shadow.css");

/***************Default Set***************/
#landing{width: 670px; margin: 0 auto;}
#landing * {font-family: 'Pretendard'; line-height: 1.25; vertical-align: baseline; color: black;}
#landing section {position: relative; overflow: hidden;}
#landing section .in_wrap{
  width: 650px; margin: 0 auto; position: relative;
  padding: 60px 0; text-align: center;
}
#landing section *.flex_cc{display : flex; justify-content : center; align-items : center;}
#landing section *.flex_bc{display : flex; justify-content : space-between; align-items : center;}
#landing section h1{font-size: 72px; font-weight: 800;}
#landing section h2{font-size: 64px; font-weight: 800;}
#landing section h3{font-size: 56px; font-weight: 700;}
#landing section h4{font-size: 48px; font-weight: 700;}
#landing section h5{font-size: 40px; font-weight: 600;}
#landing section h6{font-size: 32px; font-weight: 600;}

/***************Background Set***************/


/***************Section css***************/

/*sec1*/

/*secPayment*/